@import 'https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,600,700';

html, body{
    padding: 0;
    margin: 0;
}

*{
    font-family: Arial, sans-serif;
}

a, a:hover{text-decoration: none;}
p{margin: 0 0;}

ul {list-style: none;}

.conteiner{
    width: 1170px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*Свойства блока Header*/
#header{
    position: absolute;
    padding-top: 25px;
    height: 75px;
    width: 100%;
    left: 0;
    right: 0;
}

.activebox{
    float: left;
    padding-top: 12px;
}

.nav{
    float: right;
}

.nav li{
    float: left;
    margin-right: 60px;
}

.nav li:last-child {margin-right: 0;}

.nav a{
    text-transform: uppercase;
    font: 13px 'Raleway', sans-serif;
    font-weight: 700;
    color: #d6d7da;
}

/*Свойства блока Masthead*/
#masthead{
    padding-top: 250px;
    height: 500px;
    min-width: 1170px;
    text-align: center;
    color: #FFF;
    background: #222 url(img/masthead-bg.jpg) no-repeat center bottom;
    background-size: cover;
}

#masthead h1{
    text-transform: uppercase;
    font: 65px/70px 'Open sans', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0 100px;
}

#masthead h2{
    font: 21px 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 80px;
    padding: 0 130px;
}

.btn{
    background: red url(img/red-button.png);
    text-transform: uppercase;
    color: #FFF;
    font: 13px 'Raleway', sans-serif;
    font-weight: 600;
    padding: 20px 50px;
    cursor: pointer;
    border-style: none;
    border-radius: 2px;
}

/*Свойства блока Features*/
h3.title{
    text-transform: uppercase;
    font: 14px 'Raleway', sans-serif;
    font-weight: 700;
    color: #2d3033;
}

#features{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
}

.features-item{
    float: left;
    width: 33.33%;
    margin-top: 60px;
    padding-top: 70px;
}

.features-item p{
    font: 13px/20px 'Raleway', sans-serif;
    font-weight: 400;
    color: #6c7279;
    padding: 0 45px;
}

.features-item1{
    background: url(img/feature1-icon.png) no-repeat center top;
}

.features-item2{
    background: url(img/feature2-icon.png) no-repeat center top;
}

.features-item3{
    background: url(img/feature3-icon.png) no-repeat center top;
}

.features-item4{
    background: url(img/feature4-icon.png) no-repeat center top;
}

.features-item5{
    background: url(img/feature5-icon.png) no-repeat center top;
}

.features-item6{
    background: url(img/feature6-icon.png) no-repeat center top;
}

/*Свойства блока Works*/
<!-- БЛОК 3 -->
.conteiner2{
    width: 100%;
    margin: 0 auto;
}

h3.title2{
    text-transform: uppercase;
    font: 14px 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFF;
}

#works{
    text-align: center;
    min-width: 1170px;
}

.works-item{
    position: relative;
    float: left;
    width: 25%;
    height: 350px;
}

.icon-opacity{
    opacity: 0;
    height: 220px;
    padding-top: 130px;
    background: #e84545;
    background-size: cover;
}

.icon-opacity:hover{
    opacity: 0.9;
}

.icon-opacity p{
    font: 14px/22px 'Raleway', sans-serif;
    font-weight: 400;
    color: #FFF;
    padding: 0 30px;
}

.works-item1{
    background: url(img/work1-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item2{
    background: url(img/work2-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item3{
    background: url(img/work3-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item4{
    background: url(img/work4-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item5{
    background: url(img/work5-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item6{
    background: url(img/work6-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item7{
    background: url(img/work7-icon.png) no-repeat center top;
    background-size: cover;
}

.works-item8{
    background: url(img/work8-icon.png) no-repeat center top;
    background-size: cover;
}

/*Свойства блока Download*/
 /* *{
    box-sizing: border-box;
  }
*/

  section{
    display: block;
  }

  a{
    text-decoration: none;
  }

  .section {
    padding: 100px 0;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container:before{
    display: table;
    content: " ";
  }

  .container:after{
    display: table;
    content: " ";
    clear:both;
  }

  .text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }

/*Свойства блока Team*/
#team{
    text-align: left;
    padding-top: 100px;
    padding-bottom: 130px;
}

.team-item{
    float: left;
    width: 270px;
    margin-right: 30px;
}

.team-item:last-child{
    margin-right: 0px;
}

.team-item h2{
    font: 22px 'Raleway', sans-serif;
    color: #2d3033;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-item h3{
    text-transform: uppercase;
    font: 13px 'Raleway', sans-serif;
    color: #e84545;
    margin-top: 0;
    margin-bottom: 23px;
}

.team-item p{
    font: 14px/22px 'Raleway', sans-serif;
    color: #84898e;
}

.team-item img{
    margin-bottom: 23px;
}

#team .social{
    margin-top: 25px;
}

#team a.ic-fb{
    background: url(img/fb-team-icon.png) no-repeat center;
}
#team a.ic-tw{
    background: url(img/tw-team-icon.png) no-repeat center;
}
#team a.ic-in{
    background: url(img/in-team-icon.png) no-repeat center;
}

/*Свойства блока Footer1*/
#footer1{    
    height: 250px;
    min-width: 1170px;
    text-align: center;
    color: #FFF;
    background: #222 url(img/footer1-bg.png) no-repeat center;
    background-size: cover;
}

.footer-item{
    float: left;
    width: 33.33%;
    margin-top: 70px;
}

.footer-item p{
    font: 14px/22px 'Raleway', sans-serif;
    font-weight: 400;
    color: #9395a6;
    padding: 0 30px;
}

.social a{
    display: inline-block;
    height: 40px;
    width: 40px;
}

.social a.ic-fb{
    background: url(img/fb-icon.png) no-repeat center;
}

.social a.ic-tw{
    background: url(img/tw-icon.png) no-repeat center;
}

.social a.ic-in{
    background: url(img/in-icon.png) no-repeat center;
}

/*Визуальные эффекты при наведении курсора*/
.social a.ic-fb:hover {
    background: url(img/fb-hover-icon.png) no-repeat center;
}

.social a.ic-tw:hover {
    background: url(img/tw-hover-icon.png) no-repeat center;
}

.social a.ic-in:hover {
    background: url(img/in-hover-icon.png) no-repeat center;
}

#footer2{
    padding-top: 30px;
    height: 64px;
    min-width: 1170px;
    text-align: center;
    color: #FFF;
    background: #222 url(img/footer2-bg.png) no-repeat center;
    background-size: cover;
}

#footer2 p{
    margin: 0;
    font: 14px/22px 'Raleway', sans-serif;
    font-weight: 400;
    color: #77777b;
}

.newfont{
    color: #FFF;
}

.heart{
    color: #e84545;
    font: 14px/22px 'Open Sans', sans-serif;
}